<div class="about-container">
	<h1>Your new best friend <small>Kyle himself</small></h1>
	<img src="http://i.imgur.com/r6N6MMT.png" class="bio-pic">
	<h3>Expository Detail</h3>
	<ul>
		<li>23 years old</li>
		<li>Male</li>
		<li>Brown hair</li>
		<li>Relatively handsome</li>
		<li>Fairly talented</li>
		<li>Uproarously funny</li>
	</ul>

	<h3>What people are saying</h3>
	<blockquote>
		<p>I definitely couldn't have made my personal website without him.  He's a truly talented developer with a winning personality. Best of all, he worked for free!</p>
		<footer>Kyle Mendes</footer>
	</blockquote>
	<blockquote>
		<p>Kyle is talented, smart, creative and a blast to have around. Whenever it seems like we can’t decide where to go next, he steps up and either solves our problem or helps send us in the right direction. Whether it’s down the street, pickup, or delivery he has been helping us decide where to eat lunch on a daily basis. I fully expect him to do that for many people for years to come.</p>
		<footer><a href="https://twitter.com/CoreyCondardo">Corey Condardo</a></footer>
	</blockquote>
</div>	
