<div class="about-container">
	<h1>Your new best friend <small>Kyle himself</small></h1>
	<img src="/img/CroppedCharizard.jpeg" class="bio-pic">
	<div class="about-lead">
		<p class="lead">Hi there.  I'm Kyle, and I'm a 23 year-old web developer living in the beautiful Pioneer Valley.</p>
		<p>I've been working as a web developer for about a year now and loving it. I graduated UMass Amherst in 2013 with a degree in Philosophy.  This might seem like a weird transition, but the logical, problem solving aspect of my studies are what drove me to programming.</p>
		<p>If I was Superman (<em>and I very well might be</em>), Sour Patch Kids would by my kriptonite.  I have an infectiously positive personality, as anyone who knows me will attest to.  And believe it or not, I have held 3 different world records in video games.</p>
		<p>I thrive in the snow, but melt in the heat.  My cat Charlie hates how many pictures I take of her, and for some reason, I find it fun to climb rocks.</p>
	</div>

	<div class="about-content">
		<h3>Skills</h3>
		<ul>
			<li>Drupal & Wordpress</li>
			<li>HTML 5, CSS 3 and Javascript</li>
			<li>Sass (is the best)</li>
			<li>jQuery</li>
			<li>AngularJS (built this site!)</li>
			<li>Juggling</li>
			<li>C#</li>
			<li>Making people laugh</li>
		</ul>
		<br>
		<h3>What people are saying</h3>
		<blockquote>
			<p>I definitely couldn't have made my personal website without him.  He's a truly talented developer with a winning personality. Best of all, he worked for free!</p>
			<footer>Kyle Mendes</footer>
		</blockquote>
		<blockquote>
			<p>Kyle is talented, smart, creative and a blast to have around. Whenever it seems like we can’t decide where to go next, he steps up and either solves our problem or helps send us in the right direction. Whether it’s down the street, pickup, or delivery he has been helping us decide where to eat lunch on a daily basis. I fully expect him to do that for many people for years to come.</p>
			<footer><a href="https://twitter.com/CoreyCondardo">Corey Condardo</a></footer>
		</blockquote>
	</div>	

</div>
