<h1>Contacting Kyle</h1>

<p class="lead">Want to learn more about me?  Maybe just chat about what's going on in my world?  Or you're just so impressed you want to hire me on the spot? I don't blame you.  It's a fact that I am awesome.</p>

<p>You can always contact me at my personal email address: <a href="mailto:kyleamendes@gmail.com?&subject=Hey%20there%20Kyle&body=You%20really%20impress%20me.%20I'd%20like%20to%20get%20to%20know%20you%20better,%20we%20should%20talk."> kyleamendes (at) gmail (dot) com </a> </p>
<p>Or, you can connect with me on social media if you so prefer.  My twitter information is at the bottom of the page, along with my github.</p>
<p>Feel free to reach out to me at any time.  I love talking, and promise to respond!</p>
