<div class="dozen-wrapper">
	<form name="dozens" ng-submit="calculateDozen(dozenInput)" novalidate>
		<div class="dozens">
			<h1>
				<span ng-if="whole">{{whole}}<span ng-if="whole && fraction"> and </span></span>
				<span ng-if="fraction">{{fraction}} of a dozen<span ng-if="whole && fraction">,</span><span ng-if="! whole">.</span></span>
				<span ng-if="whole"> dozen<span ng-show="whole > 1">s</span>.</span>
			</h1>
		</div>
		<div class="input">
			<input type="number" ng-model="dozenInput" min="1" required>
			<button type="submit" class="btn btn-primary" ng-disabled="dozens.$invalid">Submit</button>
		</div>
	</form>
</div>