<h1>Games</h1>
<div class="games-container">
	<p>I like games.  Like, a lot.  I've been playing them since before I could read, and probably will play them until the day I die.</p>
	<p>Recently, I've been trying to make games as well.  I'm using the game development framework <a href="http://phaser.io">Phaser</a> which has been completly wonderful.</p>
	<p>Below you can see my sad attempts at making video games.</p>
	<small>Click into the game box and use the arrow keys to play!</small>
	<br>
	<a href="http://kyle.pink/games/topdown" class="btn">TopDown</a>
</div>
